[build]
  command = "node build-env.js"
  publish = "."
  functions = "netlify/functions"
  
[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 404
